@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @* page introduction *@
    <h1 class="display-4">Welcome to a page of all things baking!</h1>
    <h2>You get to learn all about the things I love to bake and this awesome hobby of mine!</h2>

    @* images of baked goods *@
    <p>Here are a couple examples of  things I've baked!</p>
    <br />
	<img src="~/img/millionaire_shortbread.jpg" height="400" alt="Millionaire Shortbread"/>
    <img src="~/img/sticky_toffee_pudding.jpg" height="400" alt="Sticky Toffee Pudding" />
    <br /><br /><br />
    @* a few paragraphs about me and my hobby *@
    <p>
        I've always loved baking. Whether it be with my family on a Sunday evening or by myself to share it
        is such a fun outlet that allows me to be creative, while destressing, and able to share my love of
        delicious treats with those around me. 
    </p>
    <p>
        I've made all sorts of treats whether it be the classic American Chocolate Chip Cookies 
        or Sticky Toffee Pudding with a recipe straight from England. Picutred above is Millionaire
        Shortbread (which my brother-in-law says I make better than restaurants in Europe) and 
        Sticky Toffee Pudding.
    </p>
    <p>
        I believe that ice cream is always the right answer and can make any occasion better.
        Also caramel is delicious. I'm just saying.
    </p>
</div>
